@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(img/bggg.jpg);
  background-size: cover;
}

.banner-text h1 {
  font-family: "Satisfy", cursive;
  font-size: 4em;
  /* color: rgba(255, 255, 255, 0.9); */
  color: #fff;
}

.banner-text {
  color: #fff;
  padding: 10px;
  margin-left: 7%;
}

.banner-text h4 {
  font-size: 1.728rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5em;
  font-family: "Playfair Display", serif;
}

.banner-text P {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
}

.wedd h3 {
  font-family: "Playfair Display", serif;
  font-size: 3em;
  color: #fff;
}

.wedd p {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  color: #fff;
}

.info img {
  height: 30px;
  filter: brightness(0) invert(1);
  margin: 10px;
}

.info p {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.map-bt {
  width: 120px;
  height: 50px;
  color: #fff !important;
  font-weight: 600px !important;
  border: 1px#fff solid !important;
  background: rgba(255, 255, 255, 0.2) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

#countdown {
  font-size: 2em;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

#countdown div {
  text-align: center;
}

#countdown span {
  display: block;
  font-size: 1.5em;
}

#countdown label {
  font-size: 0.8em;
  color: #fff;
  text-transform: uppercase;
  margin-top: 5px;
  display: block;
}

@media only screen and (max-width: 980px) {
  #countdown {
    font-size: 1em;
    color: black;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  #countdown {
    color: #fff;
  }
}
